@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Ubuntu|Roboto:400,700);

/*html, body{
  height: 100%;
}*/

body{
  font-family: "Ubuntu", sans-serif;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.navbar-brand{
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2em;
}

.navbar li{
  text-transform: capitalize;
}

#splash{
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/home.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  margin-top: 50px;
  padding-top: 15%;
  padding-bottom: 50px;
  color: #fff;
  font-size: 3em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
              0px 8px 13px rgba(0,0,0,0.5),
              0px 18px 23px rgba(0,0,0,0.1);
}

  #splash h1{
    font-size: 2em;
  }

  #splash a{
    color: #fff;
  }

  #splash a:hover{
    color: #e7e7e7;
  }

#portfolio{
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/portfolio.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}

  #portfolio h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.5),
                0px 18px 23px rgba(0,0,0,0.1);
  }

.thumbnail{
  position: relative;
}

  .thumbnail img{
    min-height: 250px;
    min-width: 300px;
  }

.thumbnail-hover{
  position: absolute;
  top: 2px;
  left: 2px;
  height: 99%;
  width: 99%;
  opacity: 0;
  transition:2s;
}

    .thumbnail-hover:hover{
    top: 2px;
    left: 2px;
    position: absolute;
    height: 99%;
    width: 99%;
    background-color: rgba(0,0,0,0.8);
    margin: 0 auto;
    transition:.5s;
    opacity: 1;
    padding-top: 30%;
    border-radius: 5px;
  }

  .thumbnail-hover i{
    text-decoration: none;
    color: white;
  }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#about{
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/about.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}

  #about h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.5),
                0px 18px 23px rgba(0,0,0,0.1);
  }

  #about p{
    font-size: 1.5em;
    text-align: justify;
  }

  #about img{
    padding: 10px;
    /*max-width: 180px;*/
  }

  #resume {
    display: flex;
    justify-content: center;
  }

  button {
    transform:
      rotate(-25deg)
      skew(25deg);
    transform-style:
      preserve-3d;
    position: relative;
    width: 100px;
    height: 32px;
    border: none;
    background: transparent;
  }

  button:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 100%;
    height: 10px;
    background: #36a6bf;
    transform: skewX(-41deg);
  }

  button:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -9px;
    height: 100%;
    background: #36a6bf;
    transform: skewY(-49deg);
  }

  button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #36a6bf;
    color: #fff;
    font-size: 25px;
    transition: 1.1s ease-out;
  }

  button:hover span {
    z-index: 1000;
    transition: 0.3s;
    color: #fff;
  }

  button:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
  }

  button:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
  }

  button:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
  }

  button:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
  }

  button:hover span:nth-child(1) {
    transform: translate(0px, -0px);
    opacity: 0.2;
  }

  button:nth-child(1):hover span {
    background: #8035f0;
  }

#white-bg{
  /*background-color: rgba(0,0,0, 0.5);
  border-radius: 20px;
  margin-right: 10px;*/
  float: left;
  display: inline-block;
  vertical-align: middle;
  padding: 6% 2%;
}

#contact{
  background-image: url(https://raw.githubusercontent.com/hash004/freecodecamp/master/portfolioPage/images/contact.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding-bottom: 50px;
  color: #fff;
}

  #contact h1{
    font-size: 5em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.5),
                0px 18px 23px rgba(0,0,0,0.1);
  }

  #contact h2{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.5),
                0px 18px 23px rgba(0,0,0,0.1);
  }

  #contact address{
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
  }

  #contact .fa-stack{
    color: #333;
  }

  #contact .fa-stack:hover .fa-stack-1x{
    color: #333;
    transition: 0.5s;
  }

  #contact .fa-stack:hover .fa-stack-2x{
    color: #fff;
    transition: 0.5s;
  }

  #contact a{
    text-decoration: none;
  }

hr{
  width: 25%;
}